<div class="header">
        <a [routerLink]="['/']"><img src="assets/top.png" width="1014px" class="responsive"/></a>
</div>
<div class="todo">
        <div class="left">            

            <form [formGroup]="baseForm" (ngSubmit)="onSubmit(baseForm)">
                    <div class="form-group">
                            <div class="input-group">
                                    <label>Fecha de inicio del contrato</label>
                                    <span tooltip="Ingrese la fecha inicial del contrato" placement="right" show-delay="100"><img
                                        src="assets/descripcion.png" /></span><br>
                              <input formControlName="fecha_ini"  placeholder="AAAA-MM-DD"
                                     name="fecha_ini"ngbDatepicker #fecha_ini="ngbDatepicker" [markDisabled]="markDisabled"  >
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="fecha_ini.toggle()" type="button"></button>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                                <div class="input-group">
                                        <label>Fecha fin del contrato</label>
                                        <span tooltip="Ingrese la fecha en la que se termino la labor" placement="right" show-delay="100"><img
                                            src="assets/descripcion.png" /></span><br>
                                  <input formControlName="fecha_fin"  placeholder="AAAA-MM-DD"
                                         name="fecha_fin" ngbDatepicker #fecha_fin="ngbDatepicker" [markDisabled]="markDisabled">
                                  <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="fecha_fin.toggle()" type="button"></button>
                                  </div>
                                </div>
                              </div>
                <div class="form-group">
                    <label for="cargo">Cargo desempeñado</label>
                    <span tooltip="Ingrese su cargo" placement="right" show-delay="100"><img
                            src="assets/descripcion.png" /></span>
                    <input type="text"  class="form-control" formControlName="cargo" />
                    <!--<div class="alert alert-danger" [hidden]="heroForm.controls.apellido.valid">Apellido es requerido</div>-->
                </div>
                <div class="form-group">
                    <label for="contrato">Clase de Contrato</label>
                    <span tooltip="Seleccione el tipo de contrato" placement="right" show-delay="100"><img
                            src="assets/descripcion.png" /></span>
                            <select class="form-control" formControlName="contrato">
                                <option *ngFor="let s of contrato" [value]="s">{{s}}</option>
                            </select>
                    <!--<div class="alert alert-danger" [hidden]="heroForm.controls.email.valid">No es un correo valido</div>-->
                </div>

                <div class="form-group">
                    <label for="termina">Modo de Terminación</label>
                    <span tooltip="Ingrese el modo de terminación del contrato laboral" placement="right" show-delay="100"><img src="assets/descripcion.png" /></span>
                    <select class="form-control" formControlName="termina">
                        <option *ngFor="let s of termina" [value]="s">{{s}}</option>
                    </select>
                    <!-- <div class="alert alert-danger" [hidden]="heroForm.controls.lista.valid">Power is required</div>-->
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="!baseForm.valid">Siguiente</button>
            </form>
        </div>

        <div class="right">
            
            
            <p>Bienvenido a <b class="lead">LiquidaTadeo</b>, el Consultorio jurídico de la Universidad Jorge Tadeo Lozano pone a disposición esta herramienta que permitirá  generar su liquidación laboral.</p> 

               <p><mark><b class="lead">Recuerde:</b></mark> cuando exista conflicto respecto de los derechos del trabajador, deberá acudir a la justicia laboral ordinaria o agendar una cita al consultorio jurídico</p> 
        </div> 
</div>