<div class="header">
    <a [routerLink]="['/']"><img src="assets/top.png" width="1014px" /></a> 
  </div>
  <mat-card class="carta">
  
  <div class="container">
  <div *ngIf="!submitted" class="flex-container">
      <div>
        <div class="left">          
          
              <h4 class="display-5">Resultado</h4>
         
                Tabla con resultado
                <br>

        </div>
  
        <div class="right">
          
            <img src="assets/Tips2.png" >
          </div>
  
      </div> 
  
  </div>
  
  </div>
  </mat-card>