<div class="header">
  <a [routerLink]="['/']"
    ><img src="assets/top.png" width="1014px" class="responsive"
  /></a>
</div>
<div class="todo">
  <div class="left_resultado">
    <div>
      <div id="showData" class="resultados_calculadora"></div>
    </div>
  </div>
  <div class="right_resultado">
    <div class="final">
      <img src="assets/fin.png" alt="" />
      <h1>¡ Has finalizado !</h1>
    </div>
    <p class="ocre">
      Déjanos saber tu nombre y correo para el envió de resultados
    </p>
    <form [formGroup]="baseForm" (ngSubmit)="onSubmit(baseForm)">
      <div class="form-group">
        <label for="nombres">Nombres</label>
        <input type="text" class="form-control" formControlName="nombres" />
      </div>

      <div class="form-group">
        <label for="correo">Correo electronico</label>
        <span
          tooltip="Ingrese su el correo electronico (micorreo@gmail.com)"
          placement="right"
          show-delay="100"
        >
          <img src="assets/descripcion.png"
        /></span>
        <input type="email" class="form-control" formControlName="correo" />
        <!--<div class="alert alert-danger" [hidden]="heroForm.controls.apellido.valid">Apellido es requerido</div>-->
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!baseForm.valid"
      >
        Enviar
      </button>
    </form>
  </div>
</div>
