<div class="header">
    <a [routerLink]="['/']"><img src="assets/top.png" width="1014px" /></a> 
</div>
<mat-card class="carta">

<div class="container">
  <div *ngIf="!submitted" class="flex-container">
      <div>
        <div class="left">    
             

          <form [formGroup]="baseForm" (ngSubmit)="onSubmit(baseForm)">

              <div class="btn-group btn-group-toggle">
                  <label class="btn-primary checkbox" ngbButtonLabel>
                    <input type="checkbox" formControlName="ck1" ngbButton> Indemnización
                  </label>
                  <label class="btn-primary checkbox"  ngbButtonLabel>
                    <input type="checkbox" formControlName="ck2" ngbButton> Prestaciones sociales
                  </label>
                  <label class="btn-primary checkbox" ngbButtonLabel>
                    <input type="checkbox" formControlName="ck3" ngbButton> Descanso remunerado
                  </label>
                  <label class="btn-primary checkbox" ngbButtonLabel>
                      <input type="checkbox" formControlName="ck4" ngbButton> Pendientes a pagar
                    </label>
                </div>
                
              <button type="submit" class="btn btn-default" [disabled]="!baseForm.valid">Siguiente</button>
          </form>
        </div>

        <div class="right">
          
          <p>Bienvenido a <b>LiquiTadeo</b> el consultorio jurídico de la Universidad Jorge Tadeo Lozano pone a disposición esta herramienta que permitirá  generar su liquidación laboral.</p> 

             <p><b>Recuerde:</b> cuando exista conflicto respecto de los derechos del trabajador, deberá acudir a la justicia laboral ordinaria o agendar una cita al consultorio jurídico</p> 
          <div>
              <h2 class = "resultado_text">{{resultado_text}}</h2>
              <p class = "resultado_text">{{resultado2_text}}</p>
              <p class = "resultado_text">{{resultado3_text}}</p>
              <p class = "resultado">{{resultado}}</p>
          <button  (click)="continuar()" class="btn btn-primary" *ngIf="condition" >Realizar Test</button>
          </div>

      </div> 

  </div>

</div>
</div>
</mat-card>