<div class="header">
        <a [routerLink]="['/']"><img src="assets/top.png" width="1014px" /></a> 
</div>
<mat-card class="carta">
    <div class="container">
        <div *ngIf="!submitted" class="flex-container">


            <div class="left">
                <form [formGroup]="baseForm" (ngSubmit)="onSubmit(baseForm)">
                
                    <div class="form-group">
                        <label for="salario">Salario básico</label>
                        <span tooltip="Ingrese su salario" placement="right" show-delay="100"><img
                                src="assets/descripcion.png" /></span>
                        <input type="numeric" class="form-control" formControlName="salario" />
                    </div>
                    <div class="form-group">
                        <label for="auxilio">Auxilio de transporte</label>
                        <span tooltip="Ingrese el valor del auxilio de transporte" placement="right"
                            show-delay="100"><img src="assets/descripcion.png" /></span>
                        <input type="numeric" class="form-control" formControlName="auxilio" />
                    </div>
                    <div class="form-group">
                        <label for="horas_ex_diur">Horas extras diurnas</label>
                        <span tooltip="Ingrese el valor de las horas extras diurnas" placement="right"
                            show-delay="100"><img src="assets/descripcion.png" /></span>
                        <input type="numeric" class="form-control" formControlName="horas_ex_diur" />
                    </div>
                    <div class="form-group">
                        <label for="horas_ex_domin">Horas extras nocturnas</label>
                        <span tooltip="Ingrese el valor de las horas extras dominicales" placement="right"
                            show-delay="100"><img src="assets/descripcion.png" /></span>
                        <input type="numeric" class="form-control" formControlName="horas_ex_domin" />
                    </div>
                    <div class="form-group">
                        <label for="recargos_noc">Recargos nocturnos</label>
                        <span tooltip="Ingrese el valor de los recargos nocturnos" placement="right"
                            show-delay="100"><img src="assets/descripcion.png" /></span>
                        <input type="numeric" class="form-control" formControlName="recargos_noc" />
                    </div>
                    <div class="form-group">
                        <label for="domi_ordinarios">Dominicales ordinarios</label>
                        <span tooltip="Ingrese el valor de dominicales ordianrios" placement="right"
                            show-delay="100"><img src="assets/descripcion.png" /></span>
                        <input type="numeric" class="form-control" formControlName="domi_ordinarios" />
                    </div>
                    <div class="form-group">
                        <label for="otros">Otros valores</label>
                        <span tooltip="Ingrese otros valores" placement="right" show-delay="100"><img
                                src="assets/descripcion.png" /></span>
                        <input type="numeric" class="form-control" formControlName="otros" />
                    </div>
                    <div class="form-group">
                        <label for="concepto_otros">Concepto del valor</label>
                        <span tooltip="Ingrese concepto correspondiente a lo ingresado en el campo 'Otros valores'" placement="right" show-delay="100"><img
                                src="assets/descripcion.png" /></span>
                        <input type="text" class="form-control" formControlName="concepto_otros" />
                    </div>

                    <input type="hidden" formControlName="sueldo_promedio">
                    <button type="submit" class="btn btn-primary" [disabled]="!baseForm.valid">Siguiente</button>
                </form>
            </div>

            <div class="right">


                <img src="assets/Tips1.png" >

            </div>

        </div>

    </div>
</mat-card>