<div class="header">
  <a [routerLink]="['/']"><img src="assets/top.png" width="1014px" class="responsive" /></a>
</div>
<div class="todo">
  <div class="left">

    <form [formGroup]="baseForm" (ngSubmit)="onSubmit(baseForm)">
      <h4 class="display-5">
        Salario y otros pendientes de pagar
      </h4>
      <div class="form-group">
        <label for="sueldo_pendiente">Sueldo</label>
        <span tooltip="Ingrese sueldo pendiente por recibir" placement="right" show-delay="100"><img
            src="assets/descripcion.png" /></span>
        <input type="text" class="form-control" formControlName="sueldo_pendiente" />
      </div>

      <div class="form-group">
        <label for="aux_pendiente">Auxilio de transporte</label>
        <span tooltip="Ingrese auxilio de transporte pendiente" placement="right" show-delay="100"><img
            src="assets/descripcion.png" /></span>
        <input type="text" class="form-control" formControlName="aux_pendiente" />
      </div>
      <div class="form-group">
        <label for="reajuste_pendiente">Reajuste salarial</label>
        <span tooltip="Ingrese reajustes salariales pendientes" placement="right" show-delay="100"><img
            src="assets/descripcion.png" /></span>
        <input type="text" class="form-control" formControlName="reajuste_pendiente" />
      </div>
      <div class="form-group">
        <label for="otros_pendiente">Otros</label>
        <span tooltip="Ingrese otros valores pendientes" placement="right" show-delay="100"><img
            src="assets/descripcion.png" /></span>
        <input type="text" class="form-control" formControlName="otros_pendiente" />
        <input type="hidden" formControlName="total_pendiente" />

      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!baseForm.valid">Siguiente</button>
    </form>
  </div>

  <div class="right">
    <img class="animated bounceIn delay-1s" src="assets/Tips5.png" />
  </div>
</div>