
main {
	margin-left: 25px;
}

form {
	width:50%;
	
}

h2{
	font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 600;
		letter-spacing: 3px;
		color: #002350;
		font-style: italic;
}
p{
	color: #002350;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 0px;
}
.logo {
	height: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

input.ng-invalid, select.ng-invalid {
  border-left: 5px solid #a94442;
}

input.ng-valid, select.ng-valid {
  border-left: 5px solid #42A948;
}
.flex-container {
  clear:both;
}

.left{
	width: 50%;
	margin-left: 5%;
	float: left;
}
.right{
	width: 45%;
	height: 20%;;
	float: right;
	padding-right: 10%;
	padding-top: 8%;
}



.carta{
	max-width: 80%;
	margin-left: 6%;
}
span{

	margin-left: 2%;
}
router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
